/***
 * This is a 'base partial'
 *
 * Drupal files to nuke:
 * - system.base.css
 * - system.menus.css
 * - system.messages.css
 * - system.theme.css
 *
 */
/**
 * Fonts
 * We set the font-family to the same name and specify the font styles to
 * use the corret source files. This means that specifying <strong> works
 * correctly, without modification, and specifying font-weight: bold
 * works correctly.
 */
/** CartoGothic Std Book **/
@font-face {
  font-family: 'CartoGothicStd';
  src: url("../fonts/CartoGothicStd-Book-webfont.eot");
  src: url("../fonts/CartoGothicStd-Book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("../fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("../fonts/CartoGothicStd-Book-webfont.svg#cartogothic_stdregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** CartoGothic Std Bold **/
@font-face {
  font-family: 'CartoGothicStd';
  src: url("../fonts/CartoGothicStd-Bold-webfont.eot");
  src: url("../fonts/CartoGothicStd-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/CartoGothicStd-Bold-webfont.woff") format("woff"), url("../fonts/CartoGothicStd-Bold-webfont.ttf") format("truetype"), url("../fonts/CartoGothicStd-Bold-webfont.svg#cartogothic_stdbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/**
 * Colours
 */
/** Brand Colours **/
/**
 * Typography
 */
/*
 * Breakpoints
 */
/**
 * Grid
 */
/**
 * Forms
 */
* html {
  font-size: 125%;
}

html {
  font-size: 20px;
  line-height: 1.5em;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to the base font family.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: "CartoGothicStd", helvetica, arial, serif;
  /* 1 */
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Heading sizes
 */
h1 {
  /* Sets the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-family: "CartoGothicStd", helvetica, arial, serif;
  color: #006f51;
  font-weight: normal;
}

h2 {
  font-size: 1.777em;
  line-height: 1.68824em;
  margin-top: 0.84412em;
  margin-bottom: 0.42206em;
  font-family: "CartoGothicStd", helvetica, arial, serif;
  color: #007fb2;
  font-weight: normal;
}

h3 {
  font-size: 1.333em;
  line-height: 1.68792em;
  margin-top: 1.12528em;
  margin-bottom: 0.56264em;
  color: #888888;
  font-weight: normal;
}

h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin-top: 0.66667em;
  margin-bottom: 0.66667em;
  color: #888888;
  font-weight: normal;
}

h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  color: #888888;
  font-weight: normal;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  color: #888888;
  font-weight: normal;
}

/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* normalize.scss v2.0.1 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/*
 * Removes default margin.
 */
body {
  margin: 0;
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements in IE 6/7.
 */
button,
input,
select,
textarea {
  font-family: "CartoGothicStd", helvetica, arial, serif;
}

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Sets 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 0.75em 0 1.5em 0;
}

blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 40px;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Set 1 unit of vertical rhythm and a consistent indentation.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
  padding: 0 0 0 40px;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0.75em 0;
}

dl {
  padding: 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
  /* Improves image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-top-style: solid;
  border-top-width: 0.05em;
  padding-top: 0.475em;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  padding-bottom: 0.925em;
  border-left-style: solid;
  border-left-width: 0.05em;
  padding-left: 0.8875em;
  border-right-style: solid;
  border-right-width: 0.05em;
  padding-right: 0.8875em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 * 4. Improves appearance and consistency with IE 6/7.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
  /* 4 */
  *vertical-align: middle;
  /* 4 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
}

p.intro {
  font-size: 1.1253em;
  line-height: 1.33298em;
  color: #676767;
}

a:link,
a:visited {
  text-decoration: none;
  color: #006f51;
}

@media print {
  h1 {
    border-bottom: 5px solid #DDDDDD;
  }

  h2 {
    color: #555;
  }

  span.description {
    font-style: italic;
    font-size: 0.8em;
  }

  table {
    width: 100%;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }
  table thead th {
    background: #EEE;
  }
  table td, table th {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }
  table td:first-child {
    border-left: 1px solid #dddddd;
  }
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0 none;
  }

  body {
    background-color: #fafafa;
    font-family: 'cartogothicstd';
  }

  div.page-break {
    page-break-after: always;
  }
}
