/*
Syntax error: File to import not found or unreadable: style-guide/pages/homepage-1-1.
              Load paths:
                /Users/hedley/www/agileparrot/sites/myhaccp/web/sites/all/themes/custom/myhaccp/sass
                /Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 31 of /Users/hedley/www/agileparrot/sites/myhaccp/web/sites/all/themes/custom/myhaccp/sass/styleguide.scss

Backtrace:
/Users/hedley/www/agileparrot/sites/myhaccp/web/sites/all/themes/custom/myhaccp/sass/styleguide.scss:31
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/import_node.rb:45:in `import'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/path.rb:31:in `create'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/state/directory.rb:26:in `block in created'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `each'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `created'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/state/directory.rb:17:in `refresh'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/bin/compass:23:in `load'
/Users/hedley/.rvm/gems/ruby-2.0.0-p247/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: style-guide/pages/homepage-1-1.\A               Load paths:\A                 /Users/hedley/www/agileparrot/sites/myhaccp/web/sites/all/themes/custom/myhaccp/sass\A                 /Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/hedley/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 31 of /Users/hedley/www/agileparrot/sites/myhaccp/web/sites/all/themes/custom/myhaccp/sass/styleguide.scss"; }
