//
// Forms.
//

@import 'forms-mixins';

// Variables

$form_elements_background_color: #FCFCFC;
$form_elements_outline_color: $accent-2;
$form_elements_error_color: $negative;

// General form styling

// Base elements
input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="password"],
select,
textarea {
  @include adjust-font-size-to(20px);
  // Stop iOS from rounding the corners on these elements.
  @include border-radius(0);
  background: $form_elements_background_color;
  border: 1px solid $accent-2;
  padding: 0.25em 0 0.1em 0.4em;
  min-width: 9em;
  max-width: 100%;
  &.error {
    border-color: $form_elements_error_color;
    color: $text;
    border-width: 2px;
    &:focus {
      border-color: $form_elements_error_color;
      outline-color: $form_elements_error_color;
    }
  }
}

// Stop iOS from rounding the corners on these elements.
body input[type="submit"] {
  -webkit-appearance: none;
  @include border-radius(0);
}

#validation-messages {
  border-color: $negative;
  border-width: 1px 1px 1px 10px;
  border-style: solid;
  ul.parsley-error-list {
    padding: 0.5em;
  }
}

// Parsley errors. They need to look like the server side errors for a seamless
// experience.
ul.parsley-error-list {
  background: $negative-lighter;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 2px 5px;
  }
}

form .stage-fieldset {
  padding-top: 1em;
}

form div.error {
  outline: 2px solid $negative;
}

input:focus,
textarea:focus,
select:focus, {
  @extend %input-focus;
}

input.text-mini {
  width: 2em;
  min-width: inherit;
}

input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
}

.form-item {
  margin-bottom: 1.5em
}

label {
  display: block;
  &.option {
    display: inline; // Checkboxes & Radios
  }
}

.form-item label,
.exposed-filters .form-item label,
.field-group-div > span,
div.label {
  font-size: 1.222em;
  margin: 0;
  padding: 0.25em 0;
}

input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}

.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}

.form-item div.description {
  font-size: 0.78em;
}

ul.tips {
  padding: 0;
 li {
    margin: 0.25em 0 0.25em 1.5em;
  }
}

// Checkboxes & Radios
.form-checkboxes .form-item label {
  display: inline;
  font-size: 1em;
}

.form-type-checkbox {
  padding: 0;
}

.form-item label.option {
  text-transform: none;
}

.form-item label.option input {
  vertical-align: middle;
}

body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em;
  /* LTR */
}

td.radios {
  min-width: 120px;
  label {
    display: inline;
    padding: 0.25em;
  }
}

// File fields
.form-managed-file .form-file,
.form-managed-file .form-submit {
  margin-left: 10px;
}


// Fieldsets
fieldset {
  border: none;
  margin: 0 0 1em 0;
  border-bottom: 1px solid $accent_2;
  //overflow: hidden;
  padding: 1.5em 0;
  legend {
    @include adjust-font-size-to($h3-font-size);
    color: $accent-2;
  }
}

// Buttons

// All submit buttons
input[type=submit] {
  margin-left: 1em;
}

// Cancel link in a form actions group
.form-actions {
  #edit-cancel {
    padding-left: 1em;
  }
}

// Generic buttons
input.form-submit,
a.button,
div.exposed-filters input#edit-submit {
  @include agile-button();
}

// Positive actions
// E.g Save button
//input#edit-submit,
input#edit-actions-submit,
input[id^="save-continue"],
//input[id^="edit-save"],
//input#edit-save,
input#edit-actions-save,
input#edit-continue,
input#edit-previous,
.button-positive {
  @include agile-button($style: primary);
}

// Neutral actions
// e.g Preview button
input#edit-preview,
input#edit-next,
input#preview-submit,
input[id^="edit-return"] {
  @include agile-button();
}

// Negative actions
// e.g delete button
input#edit-delete,
input#remove-button,
input#edit-remove,
input#edit-clear,
.page-admin-modules-uninstall input#edit-submit,
input#edit-delete-all {
  @include agile-button($style: negative);
  color: #FFF;
}


// Field Groups
.field-group-wrapper {
  margin-bottom: 1em;
}
