// Base Colours

.base-color {
  background-color: $base-color;
}

.base-color-lighter {
  background-color: $base-color-lighter;
}

.base-color-lightest {
  background-color: $base-color-lightest;
}


// Accents
.accent-1 {
  background-color: $accent-1;
}

.accent-1-lighter {
  background-color: $accent-1-lighter;
}

.accent-2 {
  background-color: $accent-2;
}

.accent-2-lighter {
  background-color: $accent-2-lighter;
}


.colour-table {
  clear: both;
}
