# .htaccess
web/.htaccess

# files directory
web/sites/default/files
private

# settings.php
web/sites/default/settings.php

# SASS
.sass-cache

# IDE and OS files
.idea
.DS_Store
*.sublime-project
*.sublime-workspace

# Behat
behat/vendor
behat/bin
behat/composer.phar
behat/composer.lock
