
# .htaccess
web/.htaccess

# files directory
web/sites/default/files
private

# settings.php
web/sites/default/settings.php

# SASS
.sass-cache

# IDE and OS files
.idea
.DS_Store
*.sublime-project
*.sublime-workspace
config.codekit

# Behat
behat/vendor
behat/bin
behat/composer.phar
behat/composer.lock
behat/behat.yml

# mPDF cache
web/sites/all/libraries/mpdf/ttfontdata

# source maps
.map
