/**
 * Forms
 */

@import 'forms-mixins';

/** Variables **/

$form_elements_background_color: #FCFCFC;
$form_elements_outline_color: $accent-2;
$form_elements_error_color: $negative;

/** General form styling **/


// Base elements
input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="password"],
select,
textarea {
  @include adjust-font-size-to(20px);
  background: $form_elements_background_color;
  border: 1px solid $accent-2;
  padding: 0.25em 0 0.1em 0.4em;
  min-width: 9em;
  max-width: 100%;
  &.error {
    border-color: $form_elements_error_color;
    color: $text;
    border-width: 2px;
    &:focus {
      border-color: $form_elements_error_color;
      outline-color: $form_elements_error_color;
    }
  }
}

// Parsley errors. They need to look like the server side errors for a seamless
// experience.
ul.parsley-error-list {
  background: $negative-lighter; // Same as drupal default (feel free to change).
  margin: 0;
  padding: 0;
  li {
    //color: #FFF;
    list-style: none;
    margin: 0;
    padding: 2px 5px;
  }
}

form div.error {
  outline: 2px solid $negative;
}

input:focus,
textarea:focus,
select:focus, {
  @extend %input-focus;
}

input.text-mini {
  width: 2em;
  min-width: inherit;
}

input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
}

.form-item {
  margin-bottom: 1.5em
}

label {
  display: block;
  &.option {
    display: inline; /** Checkboxes & Radios **/
  }
}

.form-item label,
.exposed-filters .form-item label,
.field-group-div > span,
div.label {
  font-size: 1.222em;
  margin: 0;
  padding: 0.25em 0;
}

input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}

.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}

.form-required {
  //color: $negative;
  //display: none;
}

ul.tips {
  padding: 0;
 li {
    margin: 0.25em 0 0.25em 1.5em;
    /* LTR */
  }
}

/** Checkboxes & Radios **/

.form-checkboxes .form-item label {
  display: inline;
  font-size: 1em;
}

.form-type-checkbox {
  padding: 0;
}

.form-item label.option {
  //font-size: 16px;
  text-transform: none;
}

.form-item label.option input {
  vertical-align: middle;
}

body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em;
  /* LTR */
}

td.radios {
  min-width: 120px;
  label {
    display: inline;
    padding: 0.25em;
  }
}

/** File fields **/

.form-managed-file .form-file,
.form-managed-file .form-submit {
  margin-left: 10px;
}


/* Fieldsets */

fieldset {
  border: none;
  margin: 0 0 1em 0;
  border-bottom: 1px solid $accent_2;
  //overflow: hidden;
  padding: 1.5em 0;
  legend {
    @include adjust-font-size-to($h3-font-size);
    color: $accent-2;
  }
  .form-item {
    //padding: 0 1em 0 0;
  }
}

/** Buttons **/

// All submit buttons
input[type=submit] {
  margin-left: 1em;
}

// Generic buttons
input.form-submit,
a.button,
div.exposed-filters input#edit-submit {
  @include agile-button();
}

// Positive actions
// E.g Save button
input#edit-submit,
input#edit-actions-submit,
input[id^="save-continue"],
input[id^="edit-save"],
input#edit-save,
input#edit-actions-save,
input#edit-continue,
input#edit-previous,
.button-positive {
  @include agile-button($style: primary);
}

// Neutral actions
// e.g Preview button
input#edit-preview,
input#edit-next,
input#preview-submit,
input[id^="edit-return"] {
  @include agile-button();
}

// Negative actions
// e.g delete button
input#edit-delete,
input#remove-button,
input#edit-remove,
input#edit-clear,
.page-admin-modules-uninstall input#edit-submit,
input#edit-delete-all {
  @include agile-button($style: negative);
  color: #FFF;
}

// Other buttons
// e.g Add another
input#edit-submit.form-add {
  font-size: 0.9em;
  float: left;
  margin-left: 0
}

.form-actions {
  clear: both;
  text-align: right;
  .previous {
    float: left;
    margin-left: 0;
  }
}

.add-another {
  clear: both;
  margin-top: 1em;
  margin-bottom: 2em;
  overflow: hidden;
}


/** Field Groups **/

.field-group-wrapper {
  margin-bottom: 1em;
}

/**
 * Inline field group
 *
 * Displays elements of a field group side by side
 *
 * Example usage: PR, Step 1 Question 3 (form-pr-c.php)
 * State start and end points of the HACCP plan
 */

#edit-container-prep-c-q3 {
  @media all and (min-width: $break_med_up) {
    .form-item {
      margin-right: 1em;
      float: left;
    }
  }
}



%fieldgroup-table-2 {
  table {
    width: 100%;
  }
  > .field-group-div {
    border-bottom: 1px solid $accent_2;
    overflow: hidden;
    padding: 1.5em 0;
  }
  .form-item {
    float: left;
    margin-bottom: 1em;
    padding-right: 2em;
  }
  .field-group-row {
    clear: both;
  }
}

.field-group-principle-1 .form-table {
  @extend %fieldgroup-responsive-table;
}

%fieldgroup-responsive-table {
  border-bottom: 1px solid $accent_2;
  padding-bottom: 0em;
  margin-bottom: 2em;
  input[type="text"] {
    min-width: inherit;
  }

}

/** Misc styling for specific forms **/

.field-group-row-wrapper {
  clear: both;
  > label {
    font-weight: 500;
  }
}



.form-principle-3 {
  @extend %standard-form-layouts;
}

%standard-form-layouts {
  .field-group-wrapper {
    margin-bottom: 1em;
  }
  .group-radios {
    label {
      display: inline;
      padding: 0.25em;
    }
  }
  .field-question-set {
    border-bottom: 1px solid $accent_2;
    margin-bottom: 2em;
    padding-bottom: 1em;
  }
}


/** ?? **/

div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}

#myhaccp-start-form {
  .help {
    color: $text-lighter;
    font-size: 0.8em;
  }
  input#edit-save {
    margin-left: 30%;
    margin-bottom: 1em;
  }
  input#edit-previous {
    float: left;
    margin-bottom: 1em;
    margin-left: 0;
  }
  input#edit-continue {
    float: right;
    margin-bottom: 1em;
  }
}

.group-title {
  margin-bottom: 0.5em;
}

#container {
  margin-bottom: 2em;
  > fieldset {
    margin-bottom: 1em;
    padding-top: 0;
  }
  .form-controls input[type="submit"] {
    @include agile-button();
    margin-left: 0;
    margin-right: 1em;
  }
}

#instance-container {
  margin-bottom: 2em;
  > fieldset {
    margin-bottom: 1em;
  }
  .form-controls input[type="submit"] {
    @include agile-button();
    margin-left: 0;
    margin-right: 1em;
  }
}

/**
 * Specific form styling
 */

/** Preparatory Stage A **/

#myhaccp-start-form.prep-a input#edit-save {
  margin-left: 0;
}

/** Preparatory Stage C **/
.prep-c-2 .fieldset-wrapper {
 @extend %fieldgroup-table-style;
}


/** Preparatory Stage D **/

.prep-d {
  fieldset.instance .form-wrapper {
    @extend %half-textareas;
  }
  .form-radios {
    @extend %inline-radios;
  }
  .form-item-prep-d-team-skills {
    margin-top: 2em;
    .form-radios {
      @extend %inline-radios;
    }
  }
}

/** Prep Stage F **/

.prep-f,
.prep-h {
  .form-radios {
    @extend %inline-radios;
  }
}


/** Principle 1, Q1 **/

.p1q1-step {
  @include clearfix;
  .form-item {
    float: left;
    margin-right: 2em;
    input.step-no {
      width: 3em;
      min-width: 3em;
    }
    input.step-name {
      width: 20em;
      min-width: 20em;
    }
  }
}

.principle-1-question-1 .hazards {
  @extend %half-textareas;
}

/** Principle 1, Q2 **/

.principle-1-question-2 {
  table {
    width: 100%;
    th.severity,
    th.likelihood,
    th.significance {
      max-width: 3em;
      span {
        white-space: nowrap;
      }
    }
  }
  input[type="text"] {
    &.severity,
    &.likelihood,
    &.significance {
      min-width: 3em;
      width: 3em;
    }
  }
}

/** Principle 2.2 **/

.principle-2-question-4 {
  td > .form-type-radios {
      font-size: 0.9em;
      width: 12em;
      clear: both;
      margin-bottom: 0.5em;
      overflow: hidden;
      text-align: center;
      > label {
        color: #888888;
      }
    .form-radios {
      .form-item {
        display: inline;
      }
    }
    label, input {
      display: inline;
      margin-right: 0.25em;
    }
    input {
      vertical-align: baseline;
    }
  }
}
