#pb-logo-icon {
  float: left;
}

h4.browser-title {
  color: #FFFFFF;
  float: left;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;
  width: 194px;
}
