/**
 * Forms probably used in admin interfaces
 */

/* Text format filter */

.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
  &.fieldset-wrapper {
    padding: 0 6px;
  }
  &.form-item,
  &.filter-guidelines,
  &.filter-help {
    font-size: 0.923em;
    padding: 2px 0 0 0;
    /* LTR */
  }
}

ul.action-links {
  margin: 1em 0;
  list-style-type: none;
  overflow: hidden;
  li {
    float: left;
    /* LTR */
    margin: 0 1em 0 0;
    /* LTR */
    a {
      padding-left: 15px;
      /* LTR */
      font: Open Sans,Helvetica,sans-serif;
      font-size: 23px;
      font-weight: 300;
      background: transparent url(../images/add.png) no-repeat 0 center;
      line-height: 30px;
    }
  }
}

/** Formatted text fields **/
.text-format-wrapper .form-item {
  padding-bottom: 0;
}

/* Exceptions */

#diff-inline-form select,
div.filter-options select {
  padding: 0;
}
