.node-homepage.view-mode-full {

  // General layout
  .group-header {
    border-bottom: 5px solid $dark-background;
  }

  .group-left,
  .group-right {
    width: 100%;
  }

 @media (min-width: $break_sm_up) {
    .group-left {
      @include column-split(half, first);
    }

    .group-right {
      @include column-split(half, false, last);
    }
  }

  > .group-footer {
      clear: both;
  }

  &.group-one-column > .group-left,
  &.group-one-column > .group-right {
      float: none;
      width: 100%;
  }

  // What's next?
  .group-right ol {
    @extend %big-numbered-list;
  }

}
