@media print {
  h1 {
    border-bottom: 5px solid #DDDDDD;
  }

  h2 {
    color: #555;
  }

  span.description {
    font-style: italic;
    font-size: 0.8em;
  }

  $border_colour: #DDDDDD;
  table {
    width: 100%;
    border-left: 1px solid $border_colour;
    border-bottom: 1px solid $border_colour;
    vertical-align: top;
    thead th {
      background: #EEE;
    }
    tr {
      vertical-align: top;
    }
    td, th {
      padding: 10px;
      text-align: left;
      border-top: 1px solid $border_colour;
      border-right: 1px solid $border_colour;
      vertical-align: top;
    }
    td:first-child {
      border-left: 1px solid $border_colour;
    }
    thead:first-child tr:first-child th,
    thead:first-child tr:first-child td {
        border-top: 0 none;
    }
  }
  body {
    background-color: $page_background;
    font-family: 'cartogothicstd';
  }
  div.page-break {
    page-break-after: always;
  }
  .haccp-plan {
    table {
      page-break-inside: avoid; // set this to 'auto' to allow tables to break across pages.
    }
  }
}
