%agile-block {
  $padding: 15px;
  background-color: #FFF;
  border: 1px solid $base_color;
  margin-top: 1em;
  >h3 {
    color: $base_color;
    padding-left: $padding;
    padding-right: $padding;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: $base-font-family;
    font-size: 1.3em;
    margin-bottom: 0em;
    margin-top: 0;
  }
  .block-content {
    padding-left: $padding;
    padding-right: $padding;
    padding-bottom: 10px;
    margin-bottom: 2em;
    ul {
      margin: 0;
      padding-left: 1em;
      list-style-type: square;
    }
    ul.pager {
      padding-left: 0;
      list-style-type: none;
    }
  }
}



.region-sidebar-second .block {
  @extend %agile-block;
}

.agile-blocks-aside {
  @media (min-width: $break_med_up) {
    @include column(8);
  }
  @media (min-width: $break_large_up) {
    @include column(5);
  }
}


.alert--myhaccp {
  border: 3px solid $accent-1;
  padding: 0 1em;
}