footer[role=contentinfo] {
  background-color: $dark-background;
  color: $text-over-dark-background;
  min-height: 7em;
}

.footer-inside {
  @include column();
  font-size: 0.9em;
  p.copyright-message {
    margin-bottom: 0;
  }
  .footer-links {
    max-width: 54em;
    color: $text-lighter;
    font-size: 0.844em;
    a {
      color: $text-lighter;
    }
  }

}
