footer[role=contentinfo] {
  background-color: $dark-background;
  color: $text-over-dark-background;
  min-height: 7em;
}

.footer-inside {
  @include column();
  padding-top: 1em;
  padding-bottom: 1em;
  .gov-uk-logo {
    float: right;
    @include border-radius(8px);
  }
  p.copyright-message {
    margin-bottom: 0;
  }
  // Footer menus.
  .block-menu-block-7,
  .block-menu-block-8 {
    clear: both;
    padding-top: 0.5em;
    @media all and (min-width: $break_med_up) {
      clear: none;
    }
    ul {
      @include strip-list;
      li.leaf {
        display: inline-block;
      }
      li:last-child a:after {
        content: '';
      }
      a {
        color: $text-lighter;
        font-size: 0.844em;
        &:hover {
          color: $text;
        }
        &:after {
          content: ' | ';
        }
      }
    }
  }
  @media all and (min-width: $break_med_up) {
    .block-menu-block-8 {
      padding-top: 0;
    }
  }
}
