.help-tip {
  background: $base-color;
  border-radius: 900px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 22px; // using absolute measurement to ensure complete consistency
  height: 1.4em;
  line-height: 1.4;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 1.45em;
  margin-left: 0.5em;
  &:link,
  &:visited {
    color: #FFFFFF;
  }
}

// Reset the help tips in table headers to normal static positioning. Note that
// we may want to just remove the position:relative from the help-tip class.
table {
  thead {
    th {
      .help-tip {
        position: static;
      }
    }
  }
}

// Hide the help tip text if javascript is enabled. If javascript is disabled
// the help text will display beneath the label.
.js {
  .help-text {
    display: none;
  }
}
.no-js {
  .help-text {

  }
}

// Custom qtip styles.
.qtip-haccp {
  border-width: 4px;
  border-style: solid;
  border-color: $accent-1;
  background-color: #FFF;
  color: $text;
  font-size: 1em;
  line-height: normal;
  max-width: 500px;
  padding: 0.5em;

  .qtip-titlebar {
    background-color: #FFEF93;
    .qtip-close {
      border-color: #AAA;
      color: #111;
    }
  }
  .qtip-icon {
    border-color: #CCC;
    background: #F1F1F1;
    color: #777;
  }
  a:link,
  a:visited {
    font-weight: bold;
  }
}
