/**
 * @file
 * Styles for system messages.
 */

div.messages {
  background-position: 8px 8px;
  /* LTR */
  background-repeat: no-repeat;
  border-width: 1px 1px 1px 10px;
  border-style: solid;
  margin: 6px 0;
  padding: 10px 10px 10px 20px;
  @include border-radius(2px);
  /* LTR */
  ul {
    margin: 0 0 0 1em;
    /* LTR */
    padding: 0;
  }
  li {
    list-style-image: none;
  }
}

div.status,
.ok {
  color: #234600;
}

div.status,
table tr.ok {
  background-color: $positive-lighter;
}

div.status {
  border-color: $accent-1;
}

div.warning {
  border-color: #ed5;
}

div.warning,
.warning {
  color: #840;
}

div.warning,
table tr.warning {
  background-color: #fffce5;
}

div.error,
table tr.error {
  border-color: $negative;
  background-color: $negative-lighter;
}

div.error p.error {
  color: #333;
}
