%big-numbered-list {
  font-size: 2em;
  color: $accent-1-lighter;
  margin-top: 0;
  padding-left: 50px;
  li {
    margin-bottom: 0.25em;
  }
  span {
    font-size: 0.5em;
    vertical-align: middle;
    color: $text;
  }
  a span {
    color: $accent-2;
    &:hover {
      color: $text;
    }
  }
}
