// Styles for ctools modal dialogs.

#modalContent {
  // Override the absolute positioning of the usual ctools dialog so its fixed
  // within the viewport.
//  position: fixed!important;
  #modal-content {
    // Remove some of the space at the top of the embedded page.
    padding-top: 0;
    article {
      > h2 {
        margin-top: 0;
      }
    }
  }
}

// jQuery UI based modals.
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.ui-dialog {
  top: 4em!important;
  border: 0.4em solid #222;
  .ui-dialog-titlebar {
    display: none;
  }
  .ui-dialog-content {
    padding: 0 1em;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  &.ui-corner-all {
    @include border-radius(0);
  }
}


