//
// Resources, including resources view.
//

$dl_colour: $grey-1;
$dl_colour_hover: $grey-1-hover;

.view-display-id-resources_downloads {
  @include tables_borders;
  table {
    width: 100%;
  }
  td {
    padding: 15px;
  }
  .resource-name {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .resource-download-link {
    display: table;
    width: 100%;
    background: $dl_colour;
    border-left: 5px solid $accent-1;
    &:hover {
      background-color: $dl_colour_hover;
      a {
        color: #000;
      }
    }
    .download-label {
      display: table-cell;
      margin-right: 1em;
      padding: 0.4em 0.75em;
      vertical-align: middle;
      width: 5em;
      &:link,
      &:visited {
        color: black;
      }
    }
    .file {
      display: table-cell;
      margin-right: 1em;
      vertical-align: middle;
      a {
        display: block;
        word-break: break-all;
        padding: 0.25em 0.5em 0.25em 20px;
      }
    }
  }
  .resource-description {
    margin-bottom: 0.5em;
    @include adjust-font-size-to(18px);
  }
  .views-field-filesize {
    min-width: 5em;
  }
  // Filters
  .view-filters {
    background-color: $grey-1;
    padding: 0 1em;
    display: inline-block;
    .views-exposed-widget label {
      margin-bottom: 0.5em;
    }
    input#edit-submit {
      @include agile-button($style: positive);
    }
  }

}



// External resources view
.view-resources.view-display-id-block_2 {
  ul {
    @include strip-list;
  }
  li {
    margin-bottom: 1.5em;
    border-bottom: 1px solid $grey-4;
    clear: both;
    overflow: hidden;
    padding-bottom: 1em;
    .title {
      @include adjust-font-size-to(20px);
      color: black;
      font-weight: bold;
    }
    .resource-description {
      @include adjust-font-size-to(18px);
      margin-bottom: 0.5em;
    }
    .resources-external-link {
      background: $dl_colour;
      border-left: 5px solid $accent-1;
      padding: 0.25em 0.5em;
      display: inline-block;
      span {
        color: black;
        margin-right: 0.5em;
      }
    }
  }
}
