//
// Resources, including resources view.
//


// Resource downloads view.
.view-display-id-resources_downloads {
  $dl_colour: $base-color;
  @media all and (min-width: $break_large_up) {
    max-width: 80%;
  }
  .views-field-field-file-1 {
    border: 2px solid $dl_colour;
    overflow: hidden;
    display: table;
    .download-label {
      display: table-cell;
      margin-right: 1em;
      background: $dl_colour;
      padding: 0.4em 0.75em;
      vertical-align: middle;
      &:hover {
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0.1));
      }
      &:link,
      &:visited {
        color: #FFF;
      }
    }
    .file {
      display: table-cell;
      margin-right: 1em;
      padding: 0.25em 0.5em;
      a {
        display: block;
        word-break: break-all;
      }
    }
    .filesize {
      padding: 0.25em 0.75em;
      display: table-cell;
      background-color: $grey-1;
      min-width: 5em;
      vertical-align: middle;
    }
  }
  div.description {
    margin-bottom: 1em;
  }
  .views-row {
    border-bottom: 1px solid $grey-4;
    padding-bottom: 2.5em;
  }
}

// External resources view
.view-id-resources.view-display-id-block_2 {
  $dl_colour: $base-color;
  .views-row {
    margin-bottom: 1.5em;
    border: 2px solid $dl_colour;
    overflow: hidden;
    display: table;
    .title {
      display: table-cell;
      margin-right: 1em;
      background: $dl_colour;
      padding: 0.4em 0.75em;
      vertical-align: middle;
      &:hover {
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0.1));
      }
      &:link,
      &:visited {
        color: #FFF;
      }
    }
    .description {
      display: table-cell;
      margin-right: 1em;
      padding: 0.25em 1em;
      vertical-align: middle;
    }
  }
}
