.group-pr-c-hazards {
  @extend %fieldgroup-table;
}

.decision-tree-qs {
  .decision-tree-q-row {
    clear: both;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-align: center;
  }
  label, input {
    display: inline;
    margin-right: 0.25em;
  }
  input {
    vertical-align: baseline;
  }
}


td.decision-tree-qs {
  width: 12em;
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  input[type="text"] {
    width: 2em;
    min-width: 2em;
  }
}

.group-pr-c-q-3 {
  @extend %group-inline;
}

%group-inline {
  width: 100%;
  @include clearfix;
  @media all and (min-width: $break_med_up) {
    > div {
      margin: 1em 0 0 1em;
    }
    .form-wrapper {
      float: left;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
    .form-item label {
      display: inline;
      margin-right: 0.5em;
    }
  }
}


.form-ps-c-2 {
  textarea {
    min-width: inherit;
    max-width: 100%;
  }
  .group-pr-c-hazards > .form-wrapper > div {
    padding-right: 10px;
  }
}

.form-principle-3 {
  @extend %standard-form-layouts;
}

%standard-form-layouts {
  .field-group-wrapper {
    margin-bottom: 1em;
  }
  .group-radios {
    label {
      display: inline;
      padding: 0.25em;
    }
  }
  .field-question-set {
    border-bottom: 1px solid $accent_2;
    margin-bottom: 2em;
    padding-bottom: 1em;
  }
}


/** Stages **/

.form-1-principle-1 .p1q1-hazards {
  @extend %half-textareas;
}

/** Principle 1 **/

.p1q2 {
  table {
    width: 100%;
    th.severity,
    th.likelihood,
    th.significance {
      max-width: 3em;
      span {
        white-space: nowrap;
      }
    }
  }
  .severity,
  .likelihood,
  .significance {
    input[type="text"] {
      min-width: 3em;
      width: 3em;
    }
  }
}

/** Principle 2 **/
.p2-q1 {
  label {
    display: inline;
    padding: 0.25em;
  }
}
